---
import { Image } from "astro:assets";
import imageLogo from "../images/zouls-logo.svg";
---


<div class="flex flex-wrap justify-center gap-7 w-3/5">
    <Image src={imageLogo} class="size-36" alt="logo"/>
    <Image src={imageLogo} class="size-36" alt="logo"/>
    <Image src={imageLogo} class="size-36" alt="logo"/>
    <Image src={imageLogo} class="size-36" alt="logo"/>
    <Image src={imageLogo} class="size-36" alt="logo"/>
    <Image src={imageLogo} class="size-36" alt="logo"/>
    <Image src={imageLogo} class="size-36" alt="logo"/>
    <Image src={imageLogo} class="size-36" alt="logo"/>
    <Image src={imageLogo} class="size-36" alt="logo"/>
</div>