---
import { Image } from "astro:assets";
import imageLogo from "../../public/zouls-logo.svg";
---


<div class="flex flex-wrap justify-center gap-7 w-3/5">
    <Image src={imageLogo} id="koukaImg" class="size-36 grayscale hover:grayscale-0 duration-1000 hover:bg-gradient-to-t from-cyan-500" alt="logo"/>
    <Image src={imageLogo} id="koukaImg" class="size-36 grayscale hover:grayscale-0 duration-1000 hover:bg-gradient-to-t from-cyan-500" alt="logo"/>
    <Image src={imageLogo} id="koukaImg" class="size-36 grayscale hover:grayscale-0 duration-1000 hover:bg-gradient-to-t from-cyan-500" alt="logo"/>
    <Image src={imageLogo} id="koukaImg" class="size-36 grayscale hover:grayscale-0 duration-1000 hover:bg-gradient-to-t from-cyan-500" alt="logo"/>
    <Image src={imageLogo} id="koukaImg" class="size-36 grayscale hover:grayscale-0 duration-1000 hover:bg-gradient-to-t from-cyan-500" alt="logo"/>
    <Image src={imageLogo} id="koukaImg" class="size-36 grayscale hover:grayscale-0 duration-1000 hover:bg-gradient-to-t from-cyan-500" alt="logo"/>
    <Image src={imageLogo} id="koukaImg" class="size-36 grayscale hover:grayscale-0 duration-1000 hover:bg-gradient-to-t from-cyan-500" alt="logo"/>
    <Image src={imageLogo} id="koukaImg" class="size-36 grayscale hover:grayscale-0 duration-1000 hover:bg-gradient-to-t from-cyan-500" alt="logo"/>
    <Image src={imageLogo} id="koukaImg" class="size-36 grayscale hover:grayscale-0 duration-1000 hover:bg-gradient-to-t from-cyan-500" alt="logo"/>
</div>